


button,input[type="button"],input[type="submit"],.btn {
  background: #4c8af4;
  border-color: #4c8af4;
  padding: 14px 40px;
  border-radius: 3rem;
	border-width: 1px;
  border-style: solid;
	text-decoration: none;
	//display: inline-block;
  color: #fff;
  font-size: 90%;
  height: 60px;
  line-height: 100%;
  content: "";
  display: table;
  clear: both;
  font-family: 'futura-bold', serif;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: .5px;
	&:hover, &:focus, &:active, &.active {
    // background: rgba(252, 42, 104, 0.9);
    // border-color: rgba(252, 42, 104, 1.0);
		// text-decoration: none;
    // color: $light1;
    background: #2a74f2;
    color: #fff;
    border: 2px solid #2a74f2;
	}
}

.test{
  font-size: 100px;
}

.btn-md {
  font-size: 1rem;
  line-height: 1rem;
  padding: 1rem 2.5rem;
}

.btn-royal-light {
  background-color: #4c8af4;
  border-color: #4c8af4;
}

.btn-block {
	width: 100%;
	display: block;
	text-align: center;
}

.btn-lg {
  font-size: 18px;
}

.btn-primary {
  background-color: $primary1;
  border-color: $primary1;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: $primary2;
  border-color: $primary2;
}

.btn-success {
  background-color: $secondary1;
  border-color: $secondary1;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
  background-color: $secondary2;
  border-color: $secondary2;
}

.btn-danger  {
  background-color: $danger1;
  border-color: $danger1;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active  {
  background-color: $danger2;
  border-color: $danger2;
}

.btn-link {
  font-size: 18px;
  line-height: 2.4em;
}
