@font-face {
  font-family: 'futura-light';
  src: url("../fonts/FTN35.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'futura-normal';
  src: url("../fonts/FTN45.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'futura-bold';
  src: url("../fonts/FTN55.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'futura-extrabold';
  src: url("../fonts/FTN85.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url("../fonts/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url("../fonts/SourceSansPro-Light.woff") format("woff"), url("../fonts/SourceSansPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
