
// ==========================================================================
// Color palette variables
// ==========================================================================



// Floats
.left { float: left; }
.right { float: right; }

// Images
.img-responsive { max-width: 100%; }


// ==========================================================================
// Color Schemes
// ==========================================================================

// Gray
$gray-0:                               #ffffff;

$gray-1:                               #fafafa;
$gray-2:                               #ececec;
$gray-3:                               #dddddd;

$gray-4:                               #ababab;
$gray-5:                               #909090;
$gray-6:                               #787878;

$gray-7:                               #565656;
$gray-8:                               #454545;
$gray-9:                               #373737;

$gray-10:                              #232323;

// Orange
$orange-1:                             #fff9f6;
$orange-2:                             #ffe7da;
$orange-3:                             #ffd3bd;

$orange-4:                             #ff915a;
$orange-5:                             #fb6d27;
$orange-6:                             #e3550f;

$orange-7:                             #ae3a01;
$orange-8:                             #8b2f01;
$orange-9:                             #6f2601;

// Brown
$brown-1:                              #fffaf4;
$brown-2:                              #ffe8d3;
$brown-3:                              #f6d7bb;

$brown-4:                              #c4a589;
$brown-5:                              #a98a6e;
$brown-6:                              #917256;

$brown-7:                              #6f5034;
$brown-8:                              #5e3f23;
$brown-9:                              #503115;

// Gold
$gold-1:                               #fffaf2;
$gold-2:                               #ffeaca;
$gold-3:                               #fed7a1;

$gold-4:                               #cca56f;
$gold-5:                               #cca56f;
$gold-6:                               #99723c;

$gold-7:                               #77501a;
$gold-8:                               #663f09;
$gold-9:                               #553201;

// Green
$green-1:                              #f6ffed;
$green-2:                              #dbffb9;
$green-3:                              #c5f699;

$green-4:                              #93c467;
$green-5:                              #78a94c;
$green-6:                              #609134;

$green-7:                              #3e6f12;
$green-8:                              #2d5e01;
$green-9:                              #254b01;

// Teal
$teal-1:                               #f0fffd;
$teal-2:                               #c3fff7;
$teal-3:                               #9dfaee;

$teal-4:                               #6bc8bc;
$teal-5:                               #50ada1;
$teal-6:                               #389589;

$teal-7:                               #167367;
$teal-8:                               #056256;
$teal-9:                               #015046;

// Blue
$blue-1:                               #f8fbff;
$blue-2:                               #e0efff;
$blue-3:                               #c7e2ff;

$blue-4:                               #77b7f9;
$blue-5:                               #5c9cde;
$blue-6:                               #4484c6;

$blue-7:                               #2262a4;
$blue-8:                               #115193;
$blue-9:                               #034385;

// Purple
$purple-1:                             #fbfaff;
$purple-2:                             #eee8ff;
$purple-3:                             #e1d6ff;

$purple-4:                             #b598ff;
$purple-5:                             #9c77f9;
$purple-6:                             #845fe1;

$purple-7:                             #623dbf;
$purple-8:                             #512cae;
$purple-9:                             #431ea0;

// Plumb
$pulmb-1:                              #fcf9ff;
$pulmb-2:                              #f3e6ff;
$pulmb-3:                              #ead1ff;

$pulmb-4:                              #cc8cff;
$pulmb-5:                              #b56cee;
$pulmb-6:                              #9d54d6;

$pulmb-7:                              #7b32b4;
$pulmb-8:                              #6a21a3;
$pulmb-9:                              #5c1395;

// Magenta
$magenta-1:                            #fef8ff;
$magenta-2:                            #fce1ff;
$magenta-3:                            #fbc9ff;

$magenta-4:                            #f477ff;
$magenta-5:                            #df57eb;
$magenta-6:                            #c73fd3;

$magenta-7:                            #a51db1;
$magenta-8:                            #940ca0;
$magenta-9:                            #83018f;

// Pink
$pink-1:                               #fff8fb;
$pink-2:                               #ffe3f0;
$pink-3:                               #ffcbe5;

$pink-4:                               #ff7ebe;
$pink-5:                               #ff54a9;
$pink-6:                               #f23593;

$pink-7:                               #d01371;
$pink-8:                               #bf0260;
$pink-9:                               #9b014d;

// Red
$red-1:                                #fff9f9;
$red-2:                                #ffe4e7;
$red-3:                                #ffcfd3;

$red-4:                                #ff8692;
$red-5:                                #ff5f6e;
$red-6:                                #f94052;

$red-7:                                #d81b2d;
$red-8:                                #c70a1c;
$red-9:                                #b00112;








// Color Scheme
$gray-0:                               #ffffff;
$gray-1:                               #fafafa;
$gray-2:                               #eeeeee;
$gray-3:                               #dddddd;
$gray-4:                               #b0b0b0;
$gray-5:                               #909090;
$gray-6:                               #787878;
$gray-7:                               #565656;
$gray-8:                               #454545;
$gray-9:                               #373737;
$gray-10:                              #232323;

$color-1:                              #fff9f9;
$color-2:                              #ffe4e7;
$color-3:                              #ffcfd3;
$color-4:                              #ff8692;
$color-5:                              #ff5f6e;
$color-6:                              #f94052;
$color-7:                              #d81b2d;
$color-8:                              #c70a1c;
$color-9:                              #b00112;

// Font Families
$regular-font-family:                  helvetica, arial, sans-serif;
$custom-font-family:                   Lato, helvetica, arial, sans-serif;

// Font Weights
$font-light:                           300;
$font-regular:                         400;
$font-bold:                            700;

// Body
$body-background-color:                $gray-0;
$body-font-family:                     $regular-font-family;
$body-font-size:                       18px;
$body-line-height:                     32px;
$body-letter-spacing:                  0.015rem;
$body-font-weight:                     $font-light;
$body-font-color:                      $gray-9;

// Headings
$heading-font-family:                  $custom-font-family;
$heading-font-weight:                  $font-bold;
$heading-font-color:                   $gray-10;

// Layout
$block-padding:                        90px;
$nav-bg-color:                         $color-6;
$radius:                               0.3rem;
$border:                               1px;
$transition-speed:                     0.2s;
$transition-speed-slow:                0.3s;

// Buttons
$button-font-size:                      18px;
$button-font-weight:                    $font-regular;
$button-font-padding:                   0.84rem 1.1rem;
$button-bg-color:                       $color-6;
$button-font-color:                     $gray-0;

// Links
$link-color:                            $color-6;

// Grid Widths
$container-tablet: 768px;
$container-desktop: 960px;
$container-tv: 1400px;
$column-gutter: 30px;








// White out all elements inside a color\photo block
.contrast{
  color: $gray-0;
  h1,h2,h3,h4,h5,h6,p{
    color: $gray-0;
  }
  a, .link {
    color: $gray-0;
    border-bottom: 2px solid $gray-0;
  }
  #menu-trigger .inner span, .overlay-close .inner span{
    background: $gray-0;
  }
  input:not([type=checkbox]):not([type=radio]), textarea, select{
    background: transparent;
    color: $gray-0;
    border: $border solid $gray-0;
  }
  .btn{
    background: $gray-0;
    border: $border solid $gray-0;
    color: $color-5;
    &.hollow{
      background: transparent;
      color: $gray-0;
      border: $border solid $gray-0;
      &:hover,
      &:active{
        background: $gray-0;
        color: $gray-9;
        border: $border solid $gray-0;
      }
    }
  }
}











// Blue | Dark to light
$primary1: #2d72b3;
$primary2: #2e8ac5;
$primary3: #429fd8;
$primary4: #96d0f2;
$primary5: #ecf8fe;

// Green | Dark to light
$secondary1: #3ea748;
$secondary2: #3eb661;
$secondary3: #90cc8b;
$secondary4: #d7e9bc;
$secondary5: #edf6ec;

// Red | Dark to light
$danger1: #dc4d61;
$danger2: #e8596e;
$danger3: #f26e81;
$danger4: #f7a7b6;
$danger5: #fef0f2;

// Black | Dark to light
$black1: #101112;
$black2: #3d4142;
$black3: #525659;
$black4: #6b7675;
$black5: #808d93;

// Gray | Dark to light
$gray1: #aebcc1;
$gray2: #cfd6d8;
$gray3: #e1e4e4;
$gray4: #ecedf2;
$gray5: #f2f4f6;

// Lighten transparent | Light to dark
$light1: rgba(255,255,255,1.0);
$light2: rgba(255,255,255,0.8);
$light3: rgba(255,255,255,0.6);
$light4: rgba(255,255,255,0.4);
$light5: rgba(255,255,255,0.2);

// Darken transparent | Dark to light
$dark1: rgba(0,0,0,1.0);
$dark2: rgba(0,0,0,0.8);
$dark3: rgba(0,0,0,0.6);
$dark4: rgba(0,0,0,0.4);
$dark5: rgba(0,0,0,0.2);

// ==========================================================================
// Border variables
// ==========================================================================

// Border Width
$border-width1: 1px;
$border-width2: 2px;

// Border Radius
$border-radius1: 4px;
$border-radius2: 8px;
$border-radius3: 25px;
$border-radius4: 50px;
