.img-wrapper{
    margin: 20px auto;
}

.thumbNailButton {
  border-radius: 50%;
  height: 250px;
}

.thumbNailImg {
  border-radius: 50%;
  height: 170px;
  border: 2px solid #d4d2d2;
}

.TeamMemberStyle {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.center {
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.font-bold{
  font-weight: bold;
  color: #646f7b;
}

#cover{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:5;
  width: 100%;
  height:100%;
  display:none;
}

#bioScreen {
  /*height: 100%;
  width: 100%;*/
  height: 1000px;
  width: 700px;
  top: 20%;
  left: 30%;
  color: white;
  margin: 0 auto;
  position: absolute;;
  z-index: 10;
  display: none;
  background: white;
  border: 5px solid #cccccc;
  border-radius: 10px;
}

.cancel {
  display:block;
  position:absolute;
  top:3px;
  right:2px;
  background:rgb(245,245,245);
  color:black;
  height:30px;
  width:35px;
  font-size:30px;
  text-decoration:none;
  text-align:center;
  font-weight:bold;
}

#bioScreen:target, #bioScreen:target + #cover{
  display: block;
  opacity: 2;
}


/*picture{
  border 1px;
  color: #ccc;
  font: same with PSO's font
  get stylesheet from PSO's project from Sam (color and fonts)
  include email symbol next to email

  USE ACCOUNT'S FONT (pso) for name, position and email
    - follow the link's convention from PSO project

  For LAB's 2nd page: follow VALIC's convention (Back button + NAME)
  Possibly add one more tab for career
  For the form: keep the placeholders
  remove 2 photos at the footer
}*/
