.transform {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.errorInput {
  color: red;
  margin-left: 15px;
}

.errorBox {
  height: auto;
  width: auto;
}

.errorBorder{
  border-color: red !important;
}
