.transform {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.errorInput {
  color: red;
  margin-left: 15px;
}

.textField{
  text-align: left;
}

TextField:hover{
  border-color: #00a4e4;
}
